html, body, nav, p, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #000;
  
    
}
h1 {
    text-align: center;
    color: #fff;
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    height: auto;
}

nav{
    
    background: #000;
    height: 60px;
    text-align: center;

}
nav li {
    display: inline-block;
    
    list-style: none;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
}

nav li:hover {
    background: red;
    transition: background .3s;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}